@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-4xl font-bold;
}

/* #sidebar nav a {
  transition: color 0.2s ease;
  border: 0;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  outline: 0;
  padding: 1.35em 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
} */

#sidebar nav a:before,
#sidebar nav a:after {
  border-radius: 0.2em;
  bottom: 0;
  content: '';
  height: 0.2em;
  position: absolute;
  right: 0;
  width: 100%;
}

#sidebar nav a:before {
  background: #3c2c62;
}

#sidebar nav a:after {
  background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
  background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
  background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
  -moz-transition: max-width 0.2s ease;
  -webkit-transition: max-width 0.2s ease;
  -ms-transition: max-width 0.2s ease;
  transition: max-width 0.2s ease;
  max-width: 0;
}

#sidebar nav a:hover {
  color: rgba(255, 255, 255, 0.55);
}

#sidebar nav a:active {
  color: #ffffff;
  border: 2px solid #ffffff;
}

#sidebar nav a:visited {
  color: #ffffff;
  border: 2px solid #ffffff;
}

#sidebar nav a.active:after {
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
  #sidebar nav a {
    height: inherit;
    line-height: inherit;
    padding: 0;
  }

  #sidebar nav a:after {
    background-image: none;
    background-color: #b74e91;
  }
}


.menu {
  display: hidden;
}

@media (min-width: 640px) {
  .menu {
    display: none;
    /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); */
    z-index: 1000;
  }

  menu-close-btn:target-within {
    display: block;
    outline: 2px solid yellow;
  }

  menu-open-button:target-within {
    display: none;
    outline: 2px solid aquamarine;

  }

  #menu-opened:target+.menu {
    display: block;
  }
}

#intro {
  background-attachment: fixed;
  background-image: url("../public/images/intro.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  background-color: transparent;
  border: solid 1px !important;
  border-color: rgba(255, 255, 255, 0.15) !important;
  border-radius: 3em;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  height: calc(4.75em + 2px);
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  padding: 0 3.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:after,
input[type="reset"]:after,
input[type="button"]:after,
button:after,
.button:after {
  -moz-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  -ms-transform: scale(0.25);
  transform: scale(0.25);
  pointer-events: none;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  background: #ffffff;
  border-radius: 3em;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


/* * {
  outline: 2px solid red;
}

body {
  outline: 2px solid blue;
  background-color: aqua;
  opacity: 90%;
} */